html {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	display: inline-block;
}

input::placeholder,
textarea::placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #ccc;
}

.container {
	width: 100%;
	max-width: 1130px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	width: 100%;
	background-color: #000;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 100;
}

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.header__inner {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header__logo {
	position: relative;
	z-index: 3;
}

.header__logo img {
	max-width: 100%;
	display: block;
}

.menu li {
	display: inline-block;
	position: relative;
	z-index: 2;
}

.header__link {
	font-size: 14px;
	color: #fff;
	padding: 0 21px;
	opacity: 0.65;
}

.header__link:hover,
.header__link:focus {
	opacity: 1;
	outline: none;
}

/* Burger */
.burger {
	display: none;
}

/* Intro */
.intro {
	background: url(../img/intro_cover-min.jpg) no-repeat center;
	background-size: cover;
	min-height: 641px;
}

.intro__inner {
	display: flex;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.intro__content {
	max-width: 520px;
	margin-top: 110px;
}

.intro__logo img {
	max-width: 180px;
	padding-bottom: 33px;
}

.intro__title {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #fff;
}

.intro__title:after {
	content: '';
	display: block;
	width: 65px;
	height: 2px;
	margin: 40px 0;
	background-color: #fff;
	text-align: right;
}

.intro__text {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	opacity: 0.8;
	padding-bottom: 45px;
}

.intro__form {
	max-width: 361px;
	margin-top: 140px;
	background-color: #fff;
	overflow: hidden;
	border-radius: 5px;
}

.intro__form-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	padding: 16px 53px;

	background-color: #f5f5f5;
	color: #333;
}

.intro__form-title b {
	color: #ff9b51;
	text-transform: uppercase;
}

.intro__form-body {
	padding-top: 10px;
	padding-bottom: 30px;
}

.intro__form-body input {
	min-width: 285px;
	font-size: 14px;
	padding: 8px 14px;
	margin: 20px 35px;
	border: none;
	border-bottom: 1px solid #d6d6d6;
}

.intro__form-body input:focus,
.form__info input:focus,
.form__message textarea:focus {
	border-bottom: 1px solid #ff9b51;
	transition: 0.5s;
}

.intro__form-body input:focus::placeholder,
.form__info input:focus::placeholder,
.form__message textarea:focus::placeholder {
	color: #ff9b51;
	transition: 0.5s;
}

.intro__form-footer {
	max-width: 361px;
}

/* Buttons */
.btn {
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.2;
	color: #fff;
	background: none;
	padding: 12px 30px;

	border: 2px solid #fff;

	transition: background 0.2s linear, color 0.2s linear;
}

.btn:hover,
.btn:focus {
	background-color: #fff;
	color: #000;
}

.btn__signin {
	display: inline-block;
	min-width: 100%;
	font-weight: 600;
	line-height: 1.2;
	background-color: #ff9b51;
	color: #fff;
	border: none;
	padding: 18px 0;
	text-align: center;
}

.btn__send {
	display: inline-block;
	font-weight: 500;
	line-height: 1.2;
	background-color: #ff9b51;
	color: #fff;
	border: none;
	padding: 13px 22px;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
}

.btn__signin:hover,
.btn__send:hover,
.btn__signin:focus,
.btn__send:focus {
	background-color: #cc6600;
	transition: background 0.2s linear;
}

/* Social */
.social {
	background-color: #fff;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
	position: relative;
}

.social__item {
	display: inline-block;
	max-width: 377px;
	margin: 20px 30px 20px 0;
}

.social__title {
	font-size: 20px;
	color: #333;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 6px;
}

.social__text {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #86878b;
	line-height: 1.4;
}

.social__icon {
	display: inline-block;
	position: absolute;
	top: 55%;
	transform: translate(0, -50%);
}

.social__icon a {
	font-size: 44px;
	color: #ccc;
	line-height: 1.2;
	margin-left: 55px;
}

.social__icon a:hover,
.footer__social a:hover,
.social__icon a:focus,
.footer__social a:focus {
	color: #ff8b38;
	transition: 0.6s ease;
	outline: none;
}

/* Features */
.features {
	background-color: #f5f5f5;
	padding: 115px 0;
}

.features__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.features__tabs {
	border-radius: 4px;
	overflow: hidden;
}

.features__tab {
	display: block;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.4;
	text-transform: uppercase;
	color: #fff;
	background-color: #333;
	border-bottom: 1px solid #f5f5f5;
	padding: 45px 35px;
}

.features__tab.active {
	background-color: #ff8b38;
}

.features__tab:hover,
.features__tab:focus {
	background-color: #ff8b38;
	outline: none;
}

.features__tab:last-child {
	border-bottom: none;
}

.features__tab:hover {
	background-color: #ff8b38;
	transition: 0.2s linear;
}

.features__item {
	display: none;
}

.features__item.active {
	display: block;
	max-width: 485px;
}

.standart__title.features__title {
	margin-bottom: 45px;
}

.standart__title.features__title:after {
	display: none;
}

.standart__text.features__text {
	margin-bottom: 50px;
}

.features__pic {
	max-width: 320px;
}

/* Sublist */
.sublist {
	padding: 116px 0;
}

.sublist__item {
	max-width: 450px;
}

.sublist__id {
	display: flex;
	margin-top: 30px;
}

.sublist__logo {
	width: 40px;
	height: 40px;
}

.sublist__content {
	margin-left: 30px;
}

.sublist__title {
	font-size: 14px;
	font-weight: 700;
	color: #212121;
	line-height: 1.2;
	margin-bottom: 5px;
}

.sublist__text {
	font-size: 14px;
	color: #86878b;
	line-height: 1.4;
}

/* Standart */
.standart {
	background-color: #f5f5f5;
	padding: 116px 0;
}

.standart__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.standart__item {
	margin-top: 20px;
	max-width: 480px;
}

.standart__title {
	font-size: 20px;
	color: #212121;
	font-weight: bold;
	line-height: 2.15;
}

.standart__title:after {
	content: '';
	display: block;
	text-align: right;
	width: 65px;
	height: 2px;
	background-color: #ff8b38;
	margin: 30px 0;
}

.standart__text {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #86878b;
	line-height: 1.4;
	max-height: 160px;
	overflow: auto;
}

.standart__pic {
	max-width: 453px;
	box-shadow: 0px 12px 15px rgba(21, 24, 36, 0.4);
}

.sublist__pic {
	max-width: 453px;
	box-shadow: 0px 12px 15px rgba(21, 24, 36, 0.4);
	margin: 50px 0;
}

/* Section */
.section__header {
	text-align: center;
	padding-top: 95px;
}

.section__title {
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	color: #000;
	line-height: 1.4;
	text-transform: uppercase;
}

.section__title:after {
	content: '';
	display: block;
	width: 65px;
	height: 2px;
	margin: 25px auto 30px;
	background-color: #ff8b38;
}

.section__text {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #86878b;
	line-height: 1.4;
	margin-bottom: 35px;
}

/* Awesome */
.awesome {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	margin: 80px 0 100px;
}

.awesome__item {
	width: 32.5%;
}

.awesome__icon {
	max-width: 70px;
	margin-bottom: 15px;
}

.awesome__title {
	font-size: 20px;
	color: #212121;
	font-weight: bold;
	line-height: 2.15;
	margin-bottom: 15px;
}

.awesome__text {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #86878b;
	line-height: 1.4;
}

/* Options */
.options {
	background-color: #f5f5f5;
	padding-bottom: 95px;
}

.option__prices {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 80px;
}

.option__item {
	width: 31%;
}

.option__item:first-child,
.option__item:last-child {
	margin-top: 40px;
}

.option__item-header {
	background-color: #333;
	color: #fff;
	text-align: center;
}

.option__name {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
	border-bottom: 1px solid #f5f5f5;
	padding: 20px 0;
}

.option__price {
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	line-height: 0.686;
	padding: 20px 0;
}

.option__price b {
	font-size: 100px;
}

.option__desc {
	font-style: italic;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.502);
	line-height: 1.714;
	padding-bottom: 20px;
}

.option__popular {
	min-height: 6px;
	background-color: #ff8b38;
}

.option__popular-prior {
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background-color: #ff8b38;
	line-height: 1.714;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 0;
}

.option__list li {
	font-size: 14px;
	color: #86878b;
	background-color: #fff;
	text-transform: uppercase;
	line-height: 1.714;
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #f5f5f5;
}

/* Customers */
.customers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	margin: 50px 0 100px;
}

.customers__item {
	width: 25%;
	position: relative;
}

.customers__text {
	font-style: italic;
	font-size: 14px;
	color: #86878b;
	background-color: #f5f5f5;
	padding: 22px 10px 25px;
	margin-bottom: 20px;
	text-align: left;
}

.customers__text:before {
	content: '';
	width: 14px;
	height: 14px;
	background: #f5f5f5;
	position: absolute;
	top: 110px;
	left: 30px;
	transform: rotate(45deg);
}

.customers__id {
	text-align: left;
	position: relative;
}

.customers__content {
	display: inline-block;
	margin-left: 15px;
	text-align: left;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.customers__name {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.customers__prof {
	font-size: 14px;
	color: #86878b;
}

.customers__photo {
	max-width: 70px;
}

/* Style */
.style {
	background: url(../img/cover-min.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.style__inner {
	text-align: center;
}

.section__title.style__title {
	color: #fff;
}

.section__title.style__title:after {
	background-color: #fff;
}

.section__text.style__text {
	color: #ccc;
}

/* Form */
.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 60px;
}

.form__info input {
	min-width: 505px;
	font-size: 14px;
	padding: 8px 14px;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #d6d6d6;
}

.form__message {
	min-width: 510px;
}

.form__message textarea {
	font-size: 14px;
	margin-top: 9px;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	resize: none;
}

.form__button {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 80px;
}

/* Footer */
.footer {
	background-color: #000;
}

.footer__inner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	padding: 20px 0 10px 0;
}

.footer__social a {
	font-size: 24px;
	color: #ccc;
	line-height: 1.2;
	margin-left: 30px;
	margin-bottom: 10px;
}

.footer__copyright {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: #fff;
	opacity: 0.5;
	line-height: 1.2;
}

/* Media */
@media (max-width: 1130px) {
	.container {
		max-width: 970px;
	}
	.customers,
	.features__inner {
		justify-content: space-around;
	}
	.features__tabs {
		margin-right: 30px;
	}
	.features__item.active {
		max-width: 450px;
	}
	.social__icon a {
		margin-left: 30px;
	}
	.standart,
	.sublist {
		padding-top: 76px;
	}
	.standart__inner {
		justify-content: center;
	}
	.standart__item {
		margin: 10px 20px 30px 20px;
	}
	.standart__pic {
		margin-right: 20px;
	}
	.sublist__pic {
		margin: 50px 20px;
	}
	.form__info input,
	.form__message {
		min-width: 410px;
	}
	.form__message textarea {
		width: 410px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 760px;
	}
	.intro__inner {
		padding-bottom: 30px;
	}
	.intro__content,
	.intro__form {
		width: 50%;
	}
	.social__item {
		max-width: 337px;
		margin-right: 0;
	}
	.social__icon a {
		margin-left: 18px;
		font-size: 34px;
	}
	.features {
		padding: 85px 0;
	}
	.features__tabs {
		margin-right: 0;
	}
	.features__item.active {
		max-width: 485px;
	}
	.features__pic {
		margin-top: 30px;
	}
	.customers__text:before {
		top: 138px;
	}
	.form__info input,
	.form__message {
		min-width: 320px;
	}
	.form__message textarea {
		width: 320px;
	}
}

@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.container {
		max-width: none;
	}
	.menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #000;
		padding: 70px 0 0 0;
	}
	.menu.active {
		top: 0;
		transition: all 0.3s ease 0s;
	}
	.menu li {
		display: block;
		margin: 0 0 20px 0;
	}
	.header__link {
		font-size: 24px;
	}
	.burger {
		display: block;
		background-color: inherit;
		position: relative;
		z-index: 3;
		width: 30px;
		height: 20px;
	}
	.burger span {
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.burger:before,
	.burger:after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.burger:before {
		top: 0;
	}
	.burger:after {
		bottom: 0;
	}
	.burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.burger.active span {
		transform: scale(0);
	}
	.intro__content,
	.intro__form {
		width: 100%;
	}
	.intro__form {
		margin: 70px auto 0;
	}
	.social__inner {
		position: relative;
	}
	.social__item {
		max-width: 100%;
		margin: 20px auto 50px;
		text-align: center;
	}
	.social__icon {
		display: block;
		position: absolute;
		top: 80%;
		left: 0;
		z-index: 3;
	}
	.features {
		padding: 65px 0;
	}
	.features__list a {
		display: inline-block;
	}
	.features__item {
		text-align: center;
	}
	.features__item h3 {
		line-height: 1.5;
	}
	.standart__title.features__title {
		margin-bottom: 30px;
		margin-top: 15px;
	}
	.section__header {
		padding-top: 65px;
	}
	.sublist__pic {
		margin: 0 0 50px 0;
	}
	.standart {
		padding-top: 36px;
	}
	.standart__pic {
		margin-right: 0px;
	}
	.customers {
		margin: 30px 0 60px;
	}
	.customers__item {
		width: 90%;
		margin: 30px auto;
	}
	.customers__text:before {
		top: 82px;
	}
	.awesome {
		margin: 60px 0 80px;
	}
	.awesome__item {
		width: 85%;
		margin: 20px auto;
	}
	.option__item {
		width: 80%;
		margin: 30px auto;
	}
	.option__item:first-child {
		margin-top: 0;
	}
	.option__item:nth-child(2) {
		margin-top: 40px;
	}
	.form {
		margin-top: 30px;
	}
	.form__info,
	.form__message {
		margin: 0 auto;
	}
}

@media (max-width: 424px) {
	.intro__form-title {
		padding: 16px 23px;
		text-align: center;
	}
	.social__icon a {
		margin-left: 16px;
		font-size: 26px;
	}
	.option__item {
		width: 90%;
	}
	.customers__text:before {
		top: 96px;
	}
	.footer__social a {
		font-size: 20px;
		margin-left: 15px;
	}
}

@media (max-width: 374px) {
	.intro__form-title {
		padding: 16px 16px;
	}
	.social__icon a {
		margin-left: 14px;
		font-size: 24px;
	}
	.features__list a {
		padding: 30px 25px;
	}
	.customers__text:before {
		top: 110px;
	}
	.form__info input,
	.form__message {
		min-width: 270px;
	}
	.form__message textarea {
		width: 270px;
	}
}
